<div class="card-body p-5">
  <ul class="list-group">
    <div class="list-group-item mb-2 border py-0 rounded-3">
      <div class="input-group">
        <input
                [formControl]="taskTitleControl"
                type="text"
                class="form-control border-0 py-3 shadow-none"
                placeholder="Type your task here."
        >
        <button class="btn text-success border-0" (click)="addTask()">
          <i class="fa-solid fa-circle-plus fa-xl"></i>
        </button>
      </div>
    </div>
    <to-do-tasks-list></to-do-tasks-list>
  </ul>
</div>
